#banner_promo {
	background-color: #55BBC1;
	height: 5vh;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#banner_promo:hover {
	text-decoration: underline;
	transition: 1s;
}

#haut_de_page {
	color: #F0785F;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo_cest-regle {
	width: 200px; 
	height: 60px;
	object-fit: cover;
}

#in_haut_a {
	width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	font-weight: lighter;
	font-family: 'Noto Sans', sans-serif;
	color: #F0785F;

}

#in_haut_a a {
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	color: #F0785F;
	font-weight: bolder;
}

#in_haut_a a:hover {
	font-weight: bolder;
	color: #55BBC1;
}

#in_haut_b {
	width: 200px;
    color: #F0785F;
    display: flex;
    justify-content: space-evenly;
	align-items: center;
	height: 70px;
	padding: 0px 20px 0px 0px;

}

.fa-solid {
	color: #F0785F;
}

.fa-solid:hover {
	color: #55BBC1;
}
