
.shop {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 400px;
	column-gap: 20px;
	padding-top: 50px;
}

.shop-prods img {
	height: 250px;
	object-fit: cover;
}


